security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'
        # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider

    providers:
        database:
            entity:
                class: App\Entity\User
                property: username

    role_hierarchy:
        ROLE_ADMIN: [ROLE_PASSWORD_MANAGER, ROLE_USER]
        ROLE_PASSWORD_MANAGER: ROLE_USER
        ROLE_SUPER_ADMIN: [ ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    access_decision_manager:
        strategy: unanimous

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/(metadata|confirm|register|forgot_pw), roles: PUBLIC_ACCESS }
        - { path: ^/logout/success, roles: PUBLIC_ACCESS }
        - { path: ^/exchange, roles: ROLE_IDPEXCHANGE }
        - { path: ^/api/ad_connect, roles: ROLE_ADCONNECT }
        - { path: ^/api, roles: ROLE_API }
        - { path: ^/docs/api, roles: ROLE_SUPER_ADMIN }
        - { path: ^/users, roles: [ ROLE_ADMIN, ROLE_PASSWORD_MANAGER ] }
        - { path: ^/admin, roles: ROLE_SUPER_ADMIN }
        - { path: ^/login/2fa, roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^/logout$, roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^, roles: ROLE_USER }

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        metadata:
            pattern: ^/metadata$
            security: false

        exchange:
            pattern: ^/exchange
            stateless: true
            custom_authenticators:
                - App\Security\ApplicationAuthenticator
            provider: database

        api:
            pattern: ^/api
            stateless: true
            custom_authenticators:
                - App\Security\ApplicationAuthenticator
            provider: database

        login:
            pattern: ^/login$
            security: false

        logout:
            pattern: ^/logout/success$

        confirm_email:
            security: false
            pattern: ^/confirm/

        register:
            security: false
            pattern: ^/register

        forgot_password:
            security: false
            pattern: ^/forgot_pw

        secured:
            pattern: ^/
            user_checker: App\Security\UserChecker
            logout:
                path: /logout
                target: /logout/success
                invalidate_session: true
            two_factor:
                auth_form_path: 2fa_login
                check_path: 2fa_login_check
            custom_authenticators:
                - App\Security\KioskUserAuthenticator
                - App\Security\UserAuthenticator
            entry_point: App\Security\KioskUserAuthenticator
            switch_user: true
            remember_me:
                secret: '%env(APP_SECRET)%'
                lifetime: 604800 # 1 week in seconds
                token_provider: Symfony\Bridge\Doctrine\Security\RememberMe\DoctrineTokenProvider
            provider: database

when@test:
    security:
        password_hashers:
            # By default, password hashers are resource intensive and take time. This is
            # important to generate secure password hashes. In tests however, secure hashes
            # are not important, waste resources and increase test times. The following
            # reduces the work factor to the lowest possible values.
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4 # Lowest possible value for bcrypt
                time_cost: 3 # Lowest possible value for argon
                memory_cost: 10 # Lowest possible value for argon
