security:
    enable_authenticator_manager: true

    password_hashers:
        App\Entity\User:
          algorithm: bcrypt
        Symfony\Component\Security\Core\User\User: 'auto'

    # https://symfony.com/doc/current/security.html#b-configuring-how-users-are-loaded
    providers:
        database:
            entity:
                class: App:User
                property: username
        cron:
            id: App\Security\CronUserProvider

    role_hierarchy:
        ROLE_ADMIN: ROLE_USER,
        ROLE_SUPER_ADMIN: [ ROLE_ADMIN, ROLE_ALLOWED_TO_SWITCH]

    access_decision_manager:
        strategy: unanimous

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/(metadata|dependencies|confirm|register|forgot_pw), roles: PUBLIC_ACCESS }
        - { path: ^/logout/success, roles: PUBLIC_ACCESS }
        - { path: ^/cron, roles: ROLE_CRON }
        - { path: ^/exchange, roles: ROLE_IDPEXCHANGE }
        - { path: ^/api/ad_connect, roles: ROLE_ADCONNECT }
        - { path: ^/api, roles: ROLE_API }
        - { path: ^/docs/api, roles: ROLE_SUPER_ADMIN }
        - { path: ^/users, roles: ROLE_ADMIN }
        - { path: ^/admin, roles: ROLE_SUPER_ADMIN }
        - { path: ^/login/2fa, roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^/logout$, roles: IS_AUTHENTICATED_2FA_IN_PROGRESS }
        - { path: ^, roles: ROLE_USER }

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        cron:
            pattern: ^/cron
            provider: cron
            stateless: true
            http_basic:
                realm: Cronjob

        metadata:
            pattern: ^/metadata$
            security: false

        exchange:
            pattern: ^/exchange
            stateless: true
            custom_authenticators:
                - App\Security\ApplicationAuthenticator
            provider: database

        api:
            pattern: ^/api
            stateless: true
            custom_authenticators:
                - App\Security\ApplicationAuthenticator
            provider: database

        login:
            pattern: ^/login$
            security: false

        logout:
            pattern: ^/logout/success$

        confirm_email:
            security: false
            pattern: ^/confirm/

        register:
            security: false
            pattern: ^/register

        forgot_password:
            security: false
            pattern: ^/forgot_pw

        secured:
            pattern: ^/
            user_checker: App\Security\UserChecker
            logout:
                path: /logout
                target: /logout/success
                invalidate_session: true
            two_factor:
                auth_form_path: 2fa_login
                check_path: 2fa_login_check
            custom_authenticators:
                - App\Security\KioskUserAuthenticator
                - App\Security\UserAuthenticator
            entry_point: App\Security\KioskUserAuthenticator
            switch_user: true
            remember_me:
                secret: '%env(APP_SECRET)%'
                lifetime: 604800 # 1 week in seconds
                token_provider: Symfony\Bridge\Doctrine\Security\RememberMe\DoctrineTokenProvider
            provider: database

