@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import SCSS from custom
@import "custom/*.scss";

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/additions.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';
@import '../../node_modules/bootstrap-darkmode/darktheme';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/variables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/layout';

// Import editor
@import '../../node_modules/easymde/src/css/easymde.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/editor';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/editor';

// Import Bootstrap 4 Card Tables
@import '../../node_modules/bootstrap4-card-tables/src/bootstrap4-card-tables';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/nested-card-tables.scss';

// Import choices.js
@import '../../node_modules/choices.js/src/styles/choices';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/choices-fixes.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/choices';

// Import SCSS from overrides
@import "overrides/*.scss";

small, .small {
  font-size: 90% !important;
}

table {
  .column-320 {
    width: 320px;
  }

  td {
    p, ul {
      margin-bottom: 0 !important;
    }
  }
}

form {
  .invalid-feedback {
    font-size: 90% !important;
  }
}

header {
  .navbar {
    .navbar-nav {
      .navbar-text {
        color: $white;
        padding: $navbar-padding-y+$nav-link-padding-y $nav-link-padding-x;
      }
    }
  }
}

// Editor fixes
.CodeMirror {
  font-size: 110%;

  .editor-preview {
    font-size: 100%;
    font-family: $font-family-base;
  }
}

.editor-toolbar {
  .fa-header {
    @extend .fa-heading;
  }

  .fa-picture-o {
    @extend .fa-image;
  }
}