@import '../../vendor/schulit/common-bundle/Resources/assets/css/bootstrap.scss';

// Import Bootstrap
@import '~bootstrap/scss/bootstrap';

// Import (and override) variables
@import '../../vendor/schulit/common-bundle/Resources/assets/css/variables.scss';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

// Import SchulIT design
@import '../../vendor/schulit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/callouts.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/div-tables.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/swagger.scss';

// Import editor
@import '../../node_modules/easymde/src/css/easymde.css';
@import '../../node_modules/codemirror/lib/codemirror.css';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/editor';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/editor.scss';

// Import choices.js
@import '../../node_modules/choices.js/src/styles/choices';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/choices-fixes.scss';
@import '../../vendor/schulit/common-bundle/Resources/assets/css/dark/choices';

// ---start
table {
  th, td {
    padding: 0.75rem 1.25rem !important;
  }
}

form {
  .form-text {
    font-size: 100%;
  }
}

// ---end


small, .small {
  font-size: 90% !important;
}

table {
  .column-320 {
    width: 320px;
  }

  td {
    p, ul {
      margin-bottom: 0 !important;
    }
  }
}

form {
  .invalid-feedback {
    font-size: 90% !important;
  }
}

header {
  .navbar {
    .navbar-nav {
      .navbar-text {
        color: $white;
        padding: $navbar-padding-y+$nav-link-padding-y $nav-link-padding-x;
      }
    }
  }
}

// Editor fixes
.CodeMirror {
  font-size: 110%;

  .editor-preview {
    font-size: 100%;
    font-family: $font-family-base;
  }
}

.editor-toolbar {
  .fa-header {
    @extend .fa-heading;
  }

  .fa-picture-o {
    @extend .fa-image;
  }
}

.no-icon {
  &:before {
    display:none;
  }
}

table {
  .odd {
    background: var(--bs-table-accent-bg);
  }
}

