$enable-shadows: true;
$enable-gradients: true;


// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/font-awesome/scss/font-awesome';

// Import SchoolIT design
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/layout.scss';
@import '../../vendor/schoolit/common-bundle/Resources/assets/css/additions.scss';

.widget.link-widget {
  a.content {
    color: $black !important;
    font-size: 130%;
    padding:45px 0px;

    -webkit-transition: background-color 0.1s ease-in-out;
    -o-transition: background-color 0.1s ease-in-out;
    transition: background-color 0.1s ease-in-out;
  }

  a.content:hover {
    background: $secondary;
    color: $white !important;
  }
}