$enable-shadows: true;
$enable-gradients: true;

// Import SCSS from custom
@import "custom/*.scss";

// Import Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Import FontAwesome
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';

@import '../../vendor/schoolit/common-bundle/Resources/assets/css/variables.scss';

// Import SCSS from overrides
@import "overrides/*.scss";

body,html {
  height: 100%;
  background: $background;
  font: normal 90% "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
}

footer {
  .logo {
    max-height:80px;
  }

  > div {
    margin: 0 auto !important;
    padding: 30px !important;
    width: 50%;
  }

  p {
    margin: 6px 0;
  }
}

.form-signin {
  .bs-callout {
    margin-right: 0px;
  }

  .row {
    padding: 0px;
    margin-top: 10px;
  }
}

.retry-button {
  margin-top: 10px !important;
}

.switch-method {
  ul {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width:768px) {
  header#page-header {
    padding:10px;
  }

  header #logo {
    padding-top:1px;
  }
}


