{% extends "@Common/auth/auth.html.twig" %}

{% block title %}{{ 'register.label'|trans({}, 'security') }}{% endblock %}

{% block content %}

    <div class="text-center">
        <i class="fas fa-envelope-open-text fa-3x d-block text-secondary"></i>
        <h4>{{ 'register.completed.label'|trans({}, 'security') }}</h4>

        <p>{{ 'register.completed.message'|trans({}, 'security') }}</p>
    </div>

    <hr >

    <p>{{ 'register.completed.help'|trans({}, 'security') }}</p>

{% endblock %}