{% extends "@!Common/auth/main.html.twig" %}

{% block container %}
    <div class="card mb-4">
        <div class="card-body">
            {% block content %}{% endblock %}
        </div>

        {% if setting('helpdesk.mail') is not empty %}
            <div class="card-footer">
                <div class="d-block">
                    <i class="fas fa-question-circle"></i> {{ 'helpdesk'|trans({'%mail%': setting('helpdesk.mail') }, 'security') }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
