{% extends "sso/redirect.html.twig" %}

{% block head %}
    <meta http-equiv="refresh" content="0; URL={{ destination }}">
{% endblock %}

{% block redirect %}
    <a href="{{ destination }}" class="btn btn-primary btn-block">
        {{ 'sso.redirect.submit'|trans }}
    </a>
{% endblock %}