{% extends "@Common/auth/auth.html.twig" %}

{% block buttons %}
    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('redeem_registration_code') }}" class="btn btn-primary btn-block" role="button">
                {{ 'register.redeem.label'|trans({}, 'security') }}
            </a>
        </div>
    </div>
{% endblock %}